*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    .Fondoinicio{

        background-image: url("Fondoinicio.jpg");
        
        background-repeat: no-repeat;
        background-size: cover;


    }
    
    .body{
    
    background-image: url("fotoo.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    
    }

    .fondotec2{
    
        background-image: url("Fondo\ tecnologia.jpg");
        
        background-repeat: no-repeat;
        background-size: cover;
        
        }
        .Fondoreligion{
    
            background-image: url("Fondo\ religion.jpg");
            
            background-repeat: no-repeat;
            background-size: cover;
            
            }
        
        .Fondosoci2{
    
            background-image: url("Fondo\ Sociales.jpg");
            
            background-repeat: no-repeat;
            background-size: cover;
            
            }

            .Fondobio2{
    
                background-image: url("FondoBiologia.jpg");
                
                background-repeat: no-repeat;
                background-size: cover;
                
                }
                .Fondoingles{
    
                    background-image: url("Fondo\ ingles.jpg");
                    
                    background-repeat: no-repeat;
                    background-size: cover;
                    
                    }

    .Fondomate{
    
        background-image: url("Fondomatematicas.jpeg");
        
        background-repeat: no-repeat;
        background-size: cover;
        
        }
    
    
    
    .img{
    
    position: relative;
    
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
     
    
    left: 180px;
    
    background-image: url("medellin.jpeg");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .Texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: rgb(255, 255, 255);
    
     
    
    }
    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("OM.jpg");
        
        }
        
        
        
        .textotecno{
        
            text-align: justify;
            
            color: rgb(0, 0, 0);
            
            font-size: 20px;
    
            width: 90%;
    
            height: 200px;
            
        
        
        }
        
        .textosociales2{
        
            text-align: justify;
            
            color: rgb(0, 0, 0);
            
            font-size: 30px;
    
            width: 90%;
    
            height: 200px;
            
        
        
        }
        
        .textomatematicas{

            text-align: justify;
            
            color: rgb(0, 0, 0);
            
            font-size: 20px;
    
            width: 100%;
    
            height: 200px;
            

        }
        .textoingles{

            text-align: justify;
            
            color: rgb(0, 0, 0);
            
            font-size: 20px;
    
            width: 85%;
    
            height: 200px;
            

        }

        .textobiologia{

            text-align: justify;
            
            color: rgb(255, 255, 255);
            
            font-size: 20px;
    
            width: 78%;
    
            height: 200px;
            

        }

        .textoreligion{

            text-align: justify;
            
            color: rgb(0, 0, 0);
            
            font-size: 20px;
    
            width: 80%;
    
            height: 200px;
            

        }
        
        
        
        
        
        
            